<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <!-- The RemoteOnly setting will ensure that users accessing the site from localhost will get informative error 
    messages while those accessing the site from a remote location will receive generic error messages which reveal
    no useful information about the exception. Use the On setting to have all users, including local users, 
    see the generic error messages. Never use the Off setting in a production environment. -->
    <compilation defaultLanguage="c#" debug="true" /> <customErrors mode="RemoteOnly" />
    
    
  
    <!--<compilation debug="true" targetFramework="4.5" /> -->
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>